<html>
  <head>
    <title><%= title %></title>
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Arima+Madurai:wght@800&family=Rubik+Moonrocks&display=swap"
      rel="stylesheet"
    />
    <link
      href="https://fonts.googleapis.com/css2?family=Allerta&family=Sriracha&display=swap"
      rel="stylesheet"
    />
    <link
      href="https://fonts.googleapis.com/css2?family=Sriracha&display=swap"
      rel="stylesheet"
    />
    <link rel="stylesheet" href="/css/home.css" />

    <body>
      <h2>Welcome to the Home Page of CODEIAL</h2>
      <div>
        <!-- Since, "locals.user" is created only when "req.isAuthenticated()" returns true thus, we can use 
          "locals.user" in case we don't have access to "req.isAuthenticated()" or callback function with arguement as req -->
        <% if (locals.user){ %>
        <a href="/user/profile">
          <!--  -->
          <button class="profile-signup">Profile</button>
        </a>

        <!--  Creating form for a New Post -->

        <div id="new-post">
          <form action="/post/create" method="post">
            <textarea name="content" cols="70" rows="7"> </textarea>
            <br />
            <button type="submit" id="post-btn">Post</button>
          </form>
        </div>

        <div id="older-posts">
          <% post.map(function(posts){ %>
          <div class="user">
            <div class="user-name">
              <b
                ><!--  -->
                <%= posts.user.name %>
                <!--  -->
              </b>
              posted on <% const date = posts.createdAt.toDateString() %> <%=
              date %>
            </div>
            <div class="user-post"><%= posts.content %></div>

            <!-- Creating Form for Adding comments  -->

            <div id="new-comment">
              <form action="/comments/create" method="post">
                <input
                  name="content"
                  type="text"
                  placeholder="Add your comment"
                />
                <input type="hidden" name="post" value="<%= posts._id %>" />
                <button type="submit" id="post-btn">Comment</button>
              </form>
            </div>
            <% posts.comments.map(function(comment){ %>
            <div class="comments">
              <div class="comments-user">
                <%= comment.user.name %> commented
              </div>
              <div class="comments-comment"><%= comment.content %></div>
            </div>

            <% }) %>
          </div>
          <%} ) %>
        </div>

        <% } else { %>
        <a href="/user/signin">
          <button id="signin">Sign In</button>
        </a>

        <a href="/user/signup">
          <button class="profile-signup">Sign Up</button>
        </a>
        <% } %>
      </div>
    </body>
  </head>
</html>
